body{
  /*background-image: url(../images/WorldCup.png);*/
  text-align: center;
  border-style: solid;
  margin-top: 30%;
}

h1{
  color: Red;
  text-decoration: underline;
}

#subwrapper{
  color: black;
}
